@import "tailwindcss";

@theme {            
  --color-primary: #FBFBFF;  
  --color-secondary: #001011;  
  --color-accent: #F2AF29;
  --font-poppins: Poppins, sans-serif;
  --color-hover:hsl(44, 95%, 40%);
}

